# dependencies
node_modules/

# builds
dist/
build/
out-tsc/
.angular/
apps/api/src/generated/

# env & secrets
.env
.env.*
!.env.example

# logs
*.log
logs/
pnpm-debug.log*

# tests
coverage/
.nyc_output/

# uploads (local dev)
apps/api/uploads/

# IDE / OS
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.DS_Store
Thumbs.db

# TypeScript incremental build cache
*.tsbuildinfo
